@font-face {
  font-family: "digital-7";
  src: url("http://schulzmarcel.de/x/fonts/digital-7_mono.ttf");
}

.container {
  width: 400px;
  position: relative;;
  -ms-flex-line-pack: center;;
      align-content: center;
}

.calculator {
  box-shadow: 0px 5px 8px 1px #000;
  background-color:#292929;
  width:365px;
  height: 440px;
  border:2px solid black;
  border-radius: 9px;
  margin-top: 80px;
}

div.calculator div.display{
	position:relative;
	display:block;
	width:320px;
	height:72px;
	line-height:86px;
	margin:auto;
	top:30px;
	font-family:digital-7, monospace;
	font-size:48pt;
	text-align: right;
	padding-right:9px;
	box-sizing:border-box;
	background:rgba(206,206,182,0.7);
	border-radius:5px;
	border:1px solid rgba(255,255,255,0.7);
	box-shadow:inset 0px -3px 10px rgba(0,0,0,0.05),
				inset 1px 3px 9px rgba(0,0,0,0.3),
				inset 1px 1px 1px rgba(0,0,0,0.2),
				inset -1px -1px 1px rgba(0,0,0,0.1),
				inset 0px 2px 1px 2px rgba(0,0,0,0.1);
}
/*div.calculator div.display:before{
	content:"8888888.88";
	position:relative;
	left:10px;
	color:rgba(0,0,0,0.18);
}*/
/*div.calculator div.display:after{
  content: "";
  position:absolute;
	width:306px;
	height:56px;
	top:8px;
	left:9px;
	background:-webkit-linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.1));
	border-radius:5px;
}*/

.buttongrid {
  margin-top: 42px;
  margin-left: 16px;
}

button{
 border:1px solid #b7b7b7;border-radius: 4px;font-size:30px;font-family:helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;font-weight:bold; color: #000000;
 margin: 6px;
 background-color: #d3d3d3; background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
 background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
 background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
}

button:hover{
 border:1px solid #a0a0a0;
 background-color: #bababa; background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#575757));
 background-image: -webkit-linear-gradient(top, #bababa, #575757);
 background-image: linear-gradient(to bottom, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}

button.number, button.operator, button.equals{
  height: 67px;
  width: 67px;
}

button.clear{
  margin: auto;
  display: block;
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
  padding: 6px 10px;
}
